@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,700&display=swap');

*{
  font-family: 'Lato', sans-serif;
}

.bg-primary-color{
  background-color: rgb(255, 255, 255);
}

.bg-secondary-color{
  background-color: #ece8ea;
}

.bg-dark-color{
  background-color: rgb(34, 34, 34);
}

.primary-color{
  color: rgb(34, 34, 34);
}

.secondary-color{
  color: #7a7a7a;
}

/*Navbar*/
#navbar{
  border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
  color: #7a7a7a;
}

#navbar a.active{
  border-bottom: 1px solid rgb(34, 34, 34);
}

.navbar-brand{
  display: flex;
}

.navbar-brand span{
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav{
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item{
  margin: 0 1em;
}

/*Slider*/
#slider{
  margin-top: 8em;
  margin-bottom: 1em;
}

#slider .carousel-caption{
  bottom: 3em;
}

#slider .carousel-caption h5{
  font-size: 1.7em;
  text-shadow: #000 2px 2px;
}

#slider .btn{
  padding: 0.3em 0.8em;
  font-size: 1em;
  margin-top: 1em;
}

.carousel-control-prev i, .carousel-control-next i{
  color: #fffafd;
  font-size: 3em;
}

.carousel-indicators[data-bs-target]{
  opacity: 0.9;
}

/*Mini Banners*/
#mini-banners{
  margin-bottom: 4em;
}

#mini-banners .card{
  padding: 2em 0.3em;
}

#mini-banners i{
  font-size: 4em;
}

#mini-banners .card-title{
  margin-bottom: 1.5em;
}

#mini-banners .btn{
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}

/*Destaques*/
#featured-container{
  margin-bottom: 4em;
}

.title{
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

/*title::before - tracinho de separação*/
.title::before{
  width: 75px;
  border-top: 4px solid #7a7a7a;
  content: '';
  position: absolute;
  bottom: 2em;
}

#featured-images{
  margin-top: 2em;
}

#featured-images .col-md-4{
  position: relative;
  cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content{
  opacity: 0.8;
}

#featured-images .banner-content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.7s ease-in-out;
}

/*Informações*/
#info-content{
  padding: 4em 1em;
  margin-bottom: 4em;
}

#info-numbers{
  margin: 1.5em 0;
}

#info-banner{
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
}

#info-numbers h3{
  font-size: 3em;
}

/*Footer top*/
#footer{
  padding: 3em 2em;
}

#footer-top{
  margin-bottom: 2em;
}

#footer-top, #footer-top i{
  color:rgb(255, 255, 255);
}

#social-icons{
  text-align: right;
}

#social-icons i{
  margin-right: 1em;
  font-size: 1.5em;
  cursor: pointer;
}
#social-icons i:hover{
  color: #7a7a7a;
}

/*Footer details*/
#footer-details{
  margin-bottom: 3em;
}

#news-container, #contact-container, #links-container{
  padding: 0;
  border: 0;
  margin-bottom: 2em;
}

#footer-details h4{
  color: #fff;
  margin-bottom: 1.5em;
}

#news-container input{
  border: none;
}

#links-container li{
  margin-bottom: 0.5em;
}

#links-container a{
  text-decoration: none;
}

#links-container a:hover{
  color: #fff;
}

/*Footer bottom*/
#footer-bottom{
  border-top: 1px solid #7a7a7a;
  padding-top: 2em;
}

#footer-bottom i{
  color: #e61e10;
  margin-left: 0.3em;
}




@media(min-width: 768px){
  /*Sliders*/
  #slider .carousel-caption{
    bottom: 14em;
  }

  #slider .carousel-caption h5{
    font-size: 4em;
    text-shadow: #000 2px 3px;
  }

  #slider .btn{
    padding: 0.4em 1.2em;
    font-size: 1.2em;
  }

  .carousel-indicators{
    bottom: 7em;
  }

  /*Mini Banners*/
  #mini-banners{
    margin-top: -6em;
  }


  /*Destaques*/
  .title{
    font-size: 2.4em;
  }

  .title::before{
    bottom: 1.5em;
  }

  #featured-images .banner-content{
    opacity: 0;
  }

  /*Informações*/
  #info-content{
    padding: 3.5em;
  }

  /*Footer*/

  #news-container{
    padding-right: 2em;
  }

  #links-container{
    padding-left: 2em;
  }

  #contact-container{
    padding: 0 2em;
    border-left: 1px solid #7a7a7a;
    border-right: 1px solid #7a7a7a;
  }
}